* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  transform: translateX(-1000px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-1000px);
  transition: all 500ms ease-in;
}

.post__btns {
  display: flex;
}

.page__wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  background-color: #f4faff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 0 20px 0 gray;
  z-index: 1;
  margin-bottom: 100px;
  padding: 25px;
}

.navbarLinks {
  width: 13%;
  font-family: fantasy;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.navbarLinks a {
  color: black;
  text-decoration: none;
}
.Log_h1 {
  margin-top: 30px;
}
